<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <form action="http://127.0.0.1:5000/login/input" method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>

    <br>

    <a href="http://127.0.0.1:5000/registration">
        <div>
            <button id="registration_button">Register New User</button>
        </div>
    </a>
</body>
</html>