<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/registration/register" method="post">
        <label for="username">Username</label><br>
        <input class="registration_input" type="text" id="username" name="username"><br>

        <label for="password">Password</label><br>
        <input class="registration_input" type="password" id="password" name="password"><br>

        <label for="first_name">First Name</label><br>
        <input class="registration_input" type="text" id="first_name" name="first_name"><br>

        <label for="last_name">Last Name</label><br>
        <input class="registration_input" type="text" id="last_name" name="last_name"><br>

        <input id="submit_button" type="submit" value="Submit">
    </form>
</body>
</html>