<!doctype html>
<html>
    <!-- Important part about this, do not include a <head> tag when creating this
        It will cause the page to render properly, Flask will provide the implementation!-->
    <body>
        <h1>I was provided in a HTML file</h1>
        <p>Created and stored inside the templates directory of the Python project</p>
        <h4>Then returned to the user when the right url was called</h4>
        <p>Which allowed it to be sent to the user from the Python application!</p>
    </body>
</html>
